<div class="eventForm">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <h1 id="listTitle">Choose your path</h1>
            </div>
            <div class="row">

                {{#each newDates}}

                <div class="col-md-4 mb-5 mt-5 mx-auto">

                    <div class="card border-dark bg-transparent">

                        <div class="card-body">

                            <p class="card-title"><strong><b>{{description}}</b></strong></p>

                            <p class="card-title">{{date}}</p>

                            <p class="card-title">{{organizer.username}}</p>
                            <div class="listButtons">
                                <a href="/events/{{_id}}" class="buttonGreen mb-2">Details</a>

                                <a href="/events/{{_id}}/edit" class="buttonBlue mb-2">Edit</a>

                                <form action="/events/{{_id}}/delete" method="POST" style="display: inline-block">
                                    <input type="submit" value="delete" class="buttonRed">
                                </form>
                            </div>
                        </div>

                    </div>

                </div>

                {{/each}}

            </div>



        </div>
    </div>

</div>







</div>