<div class="container mt-5">

    <form action="/events/{{eventEdition.id}}/edit" method="POST" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="organizer" class="form-label">Organizer</label>
            <input type="text" class="form-control" id="organizer" name="organizer"
                value="{{eventEdition.organizer.username}}">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date" value="{{date}}">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description"
                value="{{eventEdition.description}}">
        </div>

        <div class="mb-3">
            <label for="latitude" class="form-label">Latitude</label>
            <input type="text" class="form-control" id="latitude" name="latitude"
                value="{{eventEdition.location.coordinates.[0]}}">
        </div>

        <div class="mb-3">
            <label for="longitude" class="form-label">Longitude</label>
            <input type="text" class="form-control" id="longitude" name="longitude"
                value="{{eventEdition.location.coordinates.[1]}}">
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Image</label>
            <input class="form-control" type="file" id="formFile" name="img">
        </div>

        {{#each plantsData}}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{id}}" id="flexCheckDefault" name="plants" />
            <label class="form-check-label" for="flexCheckDefault">{{cName}}</label>
        </div>
        {{/each}}

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark block">Edit</button>
        </div>

        {{#if errorMessage}}
        <div id="error">{{{errorMessage}}}</div>
        {{/if}}

    </form>

</div>