<div class="container mt-5">

    <form action="/events/{{id}}/edit" method="POST">


        <div class="mb-3">
            <label for="organizer" class="form-label">Organizer</label>
            <input type="text" class="form-control" id="organizer" name="organizer" value="{{organizer.username}}">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date" value="{{date}}">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" value="{{description}}">
        </div>

        {{!-- <div class="mb-3">
            <label for="formFile" class="form-label">Image</label>
            <input class="form-control" type="file" id="formFile" name="picture">
        </div> --}}


        {{#each plants}}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{id}}" id="flexCheckDefault" name="plants" />
            <label class="form-check-label" for="flexCheckDefault">{{cName}}</label>
        </div>
        {{/each}}

        <div class="mb-3">
            <label for="plants" class="form-label">Plants</label>
            <select name="plants" class="form-select" multiple>
                {{#each plants}}
                <option value="{{id}}">{{cName}}</option>
                {{/each}}
            </select>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark block">Edit</button>
        </div>

        {{#if errorMessage}}
        <div id="errorMessage">
            <p>{{errorMessage}}</p>
        </div>
        {{/if}}
    </form>



</div>