<div class="container">

    <h1>{{userData.username}}</h1>

    <hr>
    <img class="card-img-top" src="{{userData.avatar.[0]}}" alt="Card image cap">
    <hr>
    <p>Interest: {{userData.interests}}</p>
    <p>Date of birth: {{userData.dateOfBirth}}</p>
    <p>Purpose: {{userData.purpose}}</p>

    <p>Plants of interest:</p>
    <ul>
        {{#each userData.plantsOfInterest}}
        <li>{{cName}}</li>
        {{/each}}
    </ul>
    <hr>
    {{#each commentData}}
    <div class="card border-dark">
        <div class="card-body">
            <p class="card-title"><strong>{{this.commenter.username}}</strong></p>
            <p class="card-text">{{this.content}}</p>
        </div>
    </div>
    {{/each}}

    <form action="/users/{{id}}/comment" method="post">
        <textarea class='form-control' name="content" placeholder="Comment"></textarea>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

</div>