<div class="container mt-5">
    <div class="row">
        {{#each users}}
        <div class="col-md-4">

            <div class="card border-dark drone-card">

                <div class="card-body">
                    <p class="card-title"><strong>{{username}}</strong></p>


                    <p class="card-text">{{role}}</p>



                    <a href="/users/{{id}}" class="btn btn-success btn-sm">Details</a>


                    {{#if ../roles.isHIEROPHANT}}

                    <a href="/users/{{id}}/edit" class="btn btn-warning btn-sm">Edit</a>

                    <hr>
                    <form action="/users/makeCHAMAN/{{studentData.id}}" method="POST" style="display: inline-block">
                        <input type="submit" value="Set as CHAMAN" class="btn btn-info btn-sm">
                    </form>

                    {{/if}}

                </div>
            </div>

        </div>

        {{/each}}
    </div>
</div>