<div class="container">
    <h1>{{cName}}</h1>

    <hr>

    <p>Scientific name: {{sName}}</p>
    <p>Region: {{region}}</p>
    <p>Culture: {{culture}}</p>
    {{!-- <p>Files: {{files}}</p> --}}
    <p>Properties: {{properties}}</p>
    <p>Description: {{description}}</p>

    <hr>
    <a href="/plants" class="btn btn-dark">Go back</a>
</div>