<div class="container">
    <h1>The Plants</h1>
    {{#each plants}}


    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{imageURL}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{cName}}</h5>
            <p class="card-text">{{sName}}</p>
        </div>
        <ul class="list-group list-group-flush">
            {{#each region}}
            <li class="list-group-item">{{this}}</li>
            {{/each}}
        </ul>
        <div class="card-body">
            <a href="/plants/{{id}}" class="btn btn-success btn-sm">Details</a>
            <a href="/plants/{{id}}/edit" class="btn btn-warning btn-sm">Edit</a>
            <a href="/plants/{{id}}/delete" class="btn btn-danger btn-sm">Delete</a>
        </div>
    </div>

    {{!-- <a href="/plants/{{id}}" class="btn btn-success btn-sm">Details</a>
    <a href="/plants/{{id}}/edit" class="btn btn-warning btn-sm">Edit</a>
    <a href="/plants/{{id}}/delete" class="btn btn-danger btn-sm">Delete</a> --}}
    {{/each}}
</div>